{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
   简书-APP文章详情
{% endblock %}



{% block main %}
    <div style="margin-top: 10px; background-color: #6ce26c">
        <h2><div>{{ article.user.username }}</div></h2>
        <h2>
            <span class="label label-primary"><img src="{{ article.topic.img.url }}" style="width: 30px; height: 30px;">  {{ article.topic.name }}</span>
        </h2>
        <div>{{ article.title }}</div>
        <div>{{ article.content | safe }}</div>
        <div id="article_id" style="display: none;">{{ article.id }}</div>
        <div style="color: red;">{{ article.views }}</div>
        <div style="color: greenyellow;">{{ article.Btime }}</div>
    </div>

    <div id="add_comment">
        <h4 style="color: red;"></h4>
        <form id="add_comment_form" method="post">
            {% csrf_token %}
            {% for foo in form %}
                <label>{{ foo.name }}</label>:{{ foo }}
            {% endfor %}

{#            <textarea name="content" placeholder="请输入您要评论的内容" style="width: 500px; height: 200px; background-color: orange;"></textarea>#}
            <br>
{#            <button onclick="add_comment_item"></button>#}
{#            <a type="submit" href="{% url 'show_article_comment' article.id  1 %}">提交</a>#}
        </form>
        <button style="width: 88px; height: 33px; background-color: blue;"  id="add_comment_item"></button>
    </div>

    <div name="comments" id="comments">
             {% for comment in comments %}
                 <div id="comment_item">
{#                    <h3>{{ comment.owner.username }}</h3>#}
{#                    <div>{{ comment.content }}</div>#}
{#                    <label style="color: greenyellow;">{{ comment.btime }}</label>#}
{#                    <div style="width: 1000px; background-color: red; height: 2px;"></div>#}
                 </div>
            {% endfor %}
    </div>

{% endblock %}

{% block script %}
     <script>
        $(function () {
            var urlll="{% url 'show_article_all_comment' '-placeholder-' %}";
            var url_add = "{% url 'add_article_comment' '-placeholder-' %}";

            var append_new_comment = function (comment) {
{#                alert('aaaaaaa');#}
                var $div = $('#comments');
                var $div_item = $('#comment_item');
                $div_item.html("" +
                        "<h3>" + comment.username + "</h3>" +
                        "<div>" + comment.content + "</div>" +
                        "<label style='color: greenyellow'>" + comment.time + "</label>" +
                        "<div style='width: 1000px; background-color: yellow; height: 2px;'>" + "</div>"

                );
                $div.append($div_item.html());

            };
            var fetch_comment_list = function () {
                $.ajax({

                    type: 'GET',
                    url: urlll.replace("-placeholder-", $("#article_id").text()),
                    headers: {
                        "Content-Type": "application/json"
                    },
                    success: function(retval){
                        if (retval.code === 0){
{#                            console.log(retval);#}
                            $.each (retval.result, function (i, e) {
                                append_new_comment(e);
                                console.log(e);
                            });
                        }
                        else {
                            alert('不知道什么错误');
                        }
                    }
                })
            };
             fetch_comment_list();

            $("div#add_comment").on("click", "button#add_comment_item", function (e) {
                var $form = $("#add_comment_form");
                window.alert($form.find("input[name='content']").val());
                var cont = $form.find("input[name='content']").val();
                if (cont.length <= 0){
                    alert('评论内容不能为空');
                    return;
                }
                $.ajax({
                   type: "POST",
                    url: url_add.replace("-placeholder-", $("#article_id").text()),

                    headers: {
                       "Content-Type": "application/json"
                    },
                    data: JSON.stringify({
                       content: $form.find("input[name='content']").val()
                    }),
                    success: function (retval) {
                        if (retval.code) {
                            window.alert(retval.error);
                        }else {
                            $form[0].reset();
                            append_new_comment(retval.result);
{#                            append_new_comment(retval.result);#}
                            console.log(retval.result);

                        }
                    }
                });
            });



            {# 这个写法相对来说还是挺简单的 #}
{#            $("#add_comment_item").click(function(e){#}
{#                window.alert(789456123);#}
{#            });#}


{#            var add_comment_item = function () {#}
{#                $.ajax({#}
{#                    type: 'POST',#}
{#                    url: url_add.replace("-placeholder-", $("#article_id").text()),#}
{#                    headers: {#}
{#                        "Content-Type": "application/json"#}
{#                    },#}
{#                    success: function (ret) {#}
{##}
{#                    },#}
{#                })#}
{#            };#}

        })
    </script>

{% endblock %}

